name: Terraform Deploy to Main

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest
    name: Terraform Init / Validate / Plan / Apply

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color -input=false | tee terraform-plan-main.txt

      - name: Upload Terraform Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan-main
          path: terraform-plan-main.txt

      - name: Terraform Apply
        run: terraform apply -auto-approve
