name: Terraform Pull Request

on:
  pull_request:
    paths:
      - 'terraform/**'

jobs:
  terraform-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        run: terraform -chdir=terraform init

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform -chdir=terraform plan -no-color

      - name: Post PR Comment (Plan)
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            **Terraform Plan for PR**
            ```
            ${{ steps.plan.outputs.stdout }}
            ```
